<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-3">Mission to Mars</h1>
      <a href="http://127.0.0.1:5000/scrape" class="btn btn-warning">Scrape New Data</a>
    </div>
    <div class="row p-2 pb-4">
      <div class="col-12 d-flex justify-content-center">
        
        <h3 class="alert-heading text-center">Latest Mars News</h2>
          <h4>{{ mars_html.news_title }}</h4>
          <p>{{ mars_html.news_p }}</p>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-7 col-sm-12">
        <div class="card text-center border-0">
          <div class="card-body">
            <h3 class="card-title">Featured Mars Image</h3>
          </div>
          <img src={{ mars_html.image_url }} alt="Featured Mars Image" class="card-img-bottom">

        </div>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="card text-center border-0 m-0">
          <div class="card-body">
            <h3 class="card-title">Mars Facts</h3><br>
            <div class="table-responsive">
              {{ mars_html.mars_table_html |safe }}
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="row pb-2 pt-4">
        <div class="col-12 text-center">
          <h3>Mars Hemispheres</h3>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-md-12 col-sm-12">
          <div class="card">
            {% for hemi in mars_html.hemi_img_urls %}
            <div class="col-md-3">
              <div class="caption">{{ hemisphere.title }}</div>
              <img src="{{ hemi.img_url }}" class="img-thumbnail" alt="{{ hemi.title }}"
                style="width:256px; height: 256px;">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>